<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="com.example.propertyanimation">

	<application
			android:name=".BaseApplication"
			android:allowBackup="true"
			android:icon="@drawable/tm_emoji_s002"
			android:label="@string/app_name"
			android:roundIcon="@drawable/tm_emoji_s002"
			android:supportsRtl="true"
			android:theme="@style/AppTheme">
		<service
				android:name="com.squareup.leakcanary.internal.HeapAnalyzerService"
				android:enabled="false"
				android:process=":leakcanary" />
		<service
				android:name="com.squareup.leakcanary.DisplayLeakService"
				android:enabled="false" />

		<activity
				android:name=".ui.MainsActivity"
				android:allowBackup="true"
				android:icon="@drawable/tm_emoji_s002"
				android:label="@string/app_name"
				android:supportsRtl="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ScaleTranslateActivity" />
		<activity
				android:name=".CollapsingToolbarLayoutActivity"
				android:label="@string/title_activity_china_calendar"
				android:screenOrientation="portrait"
				android:theme="@style/DrawerHeaderTheme" />
		<activity android:name=".MainActivity" />
		<activity android:name=".expand.ExpandMainActivity" />
		<activity android:name=".expand.BottomTabActivity" />
		<activity android:name=".expand.ItemDetailActivity" />
		<activity android:name=".expand.ItemListActivity" />
		<activity android:name=".expand.Main2Activity" />
		<activity android:name=".expand.ScrollingActivity" />
		<activity android:name=".customview.CustomViewActivity"/>
		<activity android:name=".customview.pagecurl.activities.PageCurlActivity"/>
	</application>

</manifest>